.grid
{
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
	width: 100%;
	gap: 10px;
}

.image img
{
	width: 100%;
	aspect-ratio: 16/9;
}

.image
{
	margin: 0;
	margin-top: 1em;
	padding: 2px;
	width: 100%;
	border: 2px solid black;
	text-align: center;
}

.section
{
	padding: 1em;
	border: 5px solid black;
	border-radius: 5%;
	background-color: #444444;
	text-align: center;
}

.section a,
.section a:visited
{
	color: #BBBBBB;
}

h1
{
	text-align: center;
}

.desc
{
	color: #E1E1E1;
}

/* @supports not (aspect-ratio: 16 / 9) { 
    .image img::before {
      float: left;
      padding-top: 56.25%;
      content: '';
    }
    
    .image img::after {
      display: block;
      content: '';
      clear: both;
    }
  } */